---
name: Maven

on:
- push

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      id-token: write
      security-events: write
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: java-kotlin
        queries: security-extended,security-and-quality

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'corretto'
        cache: maven

    - name: Get AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::771971951923:role/keycloak-cas-artifact-upload
        audience: sts.amazonaws.com
        role-duration-seconds: 900

    - name: Build with Maven
      run: mvn -B clean com.spotify.fmt:fmt-maven-plugin:check package deploy

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
      with:
        category: "/language:java-kotlin"

    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@v4
